* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: 1rem;
}

a {
  text-decoration: none;
}

body {
  background-image: url(../public/images/background_image/bg_chrome.webp);
  height: auto;
}

section {
  width: 100%;
  height: auto;
}

img {
  width: auto;
  height: auto;
}

.icon__nav img {
  width: 30px;
  height: 30px;
}

h1, h2, h3 {
  font-family: "UnifrakturMaguntia", serif;
}

p, a, span, input, label, select, button {
  font-family: "Roboto", sans-serif;
}

.primary-font {
  font-family: "UnifrakturMaguntia", serif;
  text-decoration: none;
}

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: transparent;
  border: 4px dotted #000000;
  border-radius: 3px;
  color: #000000;
  cursor: pointer;
  font-size: 1.2rem;
  transition: background-color 0.2s ease, opacity 0.3s ease;
}
.button:hover {
  background-color: #000000;
  color: #fff;
}

#checkout-btn {
  border: 3px solid #000000;
  margin-inline: 0.7rem;
  border-radius: 5px;
  width: 100%;
  height: 41px;
  font-size: 1.05rem;
  font-weight: 700;
}
#checkout-btn:hover {
  color: #fff;
}

.primary__button {
  width: 257px;
  height: 50px;
}

.cart__value {
  margin-inline: 8px;
  padding-bottom: 1rem;
  border-bottom: 1px solid rgb(172, 172, 172);
}
.cart__value .cart__value__box {
  align-items: center;
  justify-content: space-between;
  display: flex;
}
.cart__value .cart__value__box p {
  color: grey;
  font-weight: 700;
  font-size: 1rem;
}
.cart__value .cart__value__box span {
  font-size: 1rem;
  color: grey;
  font-weight: 700;
}
.cart__value .cart__value__box:nth-last-child(1) {
  margin-top: 0.3rem;
}
.cart__value .cart__value__box:nth-last-child(1) p {
  color: #000000;
  font-size: 1.2rem;
}
.cart__value .cart__value__box:nth-last-child(1) span {
  font-size: 1.1rem;
  color: #000000;
}
.cart__value .cart__value__box span {
  margin: 0.23rem;
}

.darkmode {
  background-image: url(../public/images/background_image/bg-dark.webp);
  height: auto;
}
.darkmode nav .logo {
  color: #fff;
}
.darkmode nav .icon__nav .cart__shopping__amount {
  background-color: #fff;
  color: #000000;
}
.darkmode nav .icon__nav img {
  filter: invert(1);
}
.darkmode .hero .hero__description p {
  color: #cacaca;
}
.darkmode .products h2 {
  color: #fff;
}
.darkmode .products .products__grid .product__card .product__description {
  color: #cacaca;
}
.darkmode footer nav .footer__flex a {
  color: #cacaca;
}
.darkmode footer .copyright p {
  color: #fff;
}
.darkmode .showcase .showcase__flex .showcase__img .showcase__buttons p {
  color: #fff;
}
.darkmode .showcase .showcase__flex .showcase__img .showcase__buttons .activeBtn {
  color: rgb(226, 13, 13);
}
.darkmode .showcase .showcase__flex .showcase__description .showcase__title h2 {
  color: #cacaca;
}
.darkmode .showcase .showcase__flex .showcase__description .showcase__title p {
  color: #cacaca;
}
.darkmode .showcase .showcase__flex .showcase__button .button {
  color: #fff;
  border: 4px dotted rgb(226, 13, 13);
}
.darkmode .showcase .showcase__flex .showcase__button .button:hover {
  background-color: rgb(226, 13, 13);
}
.darkmode .showcase .showcase__details h3 {
  color: #cacaca;
}
.darkmode .showcase .showcase__details ul li {
  color: #cacaca;
}
.darkmode .showcase .to__index {
  color: #cacaca;
}
.darkmode .cart h2 {
  color: #cacaca;
}
.darkmode .cart .cart__flex {
  border-top: 1px solid grey;
}
.darkmode .cart .cart__flex .cart__container {
  border-bottom: 1px solid rgb(172, 172, 172);
}
.darkmode .cart .cart__flex .cart__container .cart__title h3 {
  color: rgb(226, 13, 13);
}
.darkmode .cart .cart__flex .cart__container .cart__title .close__btn img {
  filter: invert(1);
}
.darkmode .cart .cart__flex .cart__container .cart__price p {
  color: #fff;
}
.darkmode .cart .cart__flex .cart__total .cart__value .cart__value__box:nth-last-child(1) p {
  color: #fff;
}
.darkmode .cart .cart__flex .cart__total .cart__value .cart__value__box:nth-last-child(1) span {
  color: #fff;
}
.darkmode .cart .cart__button a:nth-child(1) {
  background-color: rgb(226, 13, 13);
  border: none;
}
.darkmode .cart .cart__button a {
  color: #fff;
}
.darkmode #checkout .checkout__title {
  color: #fff;
}
.darkmode #checkout .checkout__flex .form__container span {
  color: #fff;
}
.darkmode #checkout .checkout__flex .form__container form .button__desktop {
  background-color: rgb(226, 13, 13);
  color: #fff;
}
.darkmode #checkout .checkout__flex .checkout__info span {
  color: #fff;
}
.darkmode #checkout .checkout__flex .checkout__info .cart__value .cart__value__box p {
  color: #fff;
}
.darkmode #checkout .checkout__flex .checkout__info .cart__value .cart__value__box span {
  color: #fff;
}
.darkmode #checkout .checkout__flex .checkout__info .cart__value .cart__value__box:nth-last-child(1) {
  margin-top: 0.2rem;
}
.darkmode #checkout .checkout__flex .checkout__info .cart__value .cart__value__box:nth-last-child(1) p {
  color: #fff;
  font-size: 1.2rem;
}
.darkmode #checkout .checkout__flex .checkout__info .cart__value .cart__value__box:nth-last-child(1) span {
  font-size: 1.1rem;
  color: #fff;
}
.darkmode #checkout .checkout__flex .checkout__info .checkout__product .product__info .product-title {
  color: rgb(226, 13, 13);
}

.form__input {
  display: flex;
  flex-direction: column;
  width: 100%;
}

label {
  color: grey;
  font-weight: 700;
  font-size: 0.84rem;
  margin-bottom: 0.3rem;
}

input, select {
  height: 35px;
  outline: none;
  border: none;
  padding: 0.5rem;
}
input:focus, select:focus {
  border: 1px solid grey;
  box-shadow: 0 0 2px grey;
}

.hero {
  display: flex;
  flex-direction: column;
  padding-inline: 23px;
  padding-top: 3rem;
  padding-bottom: 1.5rem;
}
.hero .hero__img {
  width: 100%;
  height: 100%;
  margin-bottom: 2rem;
  text-align: center;
}
.hero .hero__img img {
  width: 253px;
  height: auto;
}
.hero .hero__description {
  margin-bottom: 3rem;
}
.hero .hero__description p {
  color: #000000;
  line-height: 1.3;
}
.hero .hero__description p span {
  font-size: 1.3rem;
}

@media (min-width: 634px) {
  .hero {
    flex-direction: row;
    padding-top: 5rem;
  }
  .hero .hero__img img {
    width: 300px;
  }
  .hero .hero__description {
    display: flex;
    align-items: center;
  }
}
@media (min-width: 1100px) {
  .hero {
    max-width: 1000px;
    margin: 0 auto;
  }
  .hero .hero__description p {
    font-size: 1.06rem;
  }
  .hero .hero__description p span {
    font-size: 1.5rem;
  }
}
nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 20px;
  padding-inline: 21px;
}
nav .logo {
  font-size: 2.6rem;
  color: #000000;
}
nav .nav__menu {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}
nav .nav__menu #theme-switch {
  height: 40px;
  width: 40px;
  padding: 0;
  border-radius: 50%;
  background-color: rgb(48, 47, 47);
  outline: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: none;
  justify-content: center;
}
nav .nav__menu #theme-switch img:nth-last-child(1) {
  display: none;
}
nav .desktop {
  display: none;
}
nav .icon__nav {
  display: flex;
  cursor: pointer;
  position: relative;
}
nav .icon__nav .cart__shopping__amount {
  position: absolute;
  right: -30%;
  top: -30%;
  background-color: #fff;
  color: #000000;
  opacity: 0.9;
  border-radius: 50%;
  padding: 2px 5px;
}

body.darkmode #theme-switch img:first-child {
  display: none;
}
body.darkmode #theme-switch img:nth-last-child(1) {
  display: block;
}
body.darkmode .hero__img .light-mode-img {
  opacity: 0;
}
body.darkmode .hero__img .dark-mode-img {
  opacity: 1;
}

body:not(.darkmode) #theme-switch img:first-child {
  display: block;
}
body:not(.darkmode) #theme-switch img:nth-last-child(1) {
  display: none;
}
body:not(.darkmode) .hero__img .light-mode-img {
  opacity: 1;
}
body:not(.darkmode) .hero__img .dark-mode-img {
  opacity: 0;
}

.hero__img {
  position: relative;
  width: 100%;
  height: auto;
}
.hero__img img {
  width: 100%;
  height: auto;
  transition: opacity 0.3s ease;
}
.hero__img .dark-mode-img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

@media (min-width: 634px) {
  nav {
    padding-inline: 56px;
  }
  nav .logo {
    font-size: 3rem;
  }
}
@media (min-width: 1100px) {
  nav {
    padding-inline: 81px;
  }
  nav .logo {
    font-size: 3.5rem;
  }
  nav .nav__menu {
    gap: 2.5rem;
  }
  nav .search-bar {
    position: relative;
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 20px;
    background: #fff;
  }
  nav .search-bar input {
    flex: 1;
    border: none;
    outline: none;
    padding: 10px 55px 10px 20px;
    font-size: 16px;
    background: transparent;
  }
  nav .search-bar .search-icon {
    position: absolute;
    top: 9px;
    right: 18px;
    width: 20px;
    height: 20px;
  }
}
footer {
  padding-inline: 1.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
footer nav {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}
footer nav .footer__flex {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 3rem;
}
footer nav .footer__flex a {
  font-size: 1.3rem;
  font-family: "UnifrakturMaguntia", serif;
  color: #000000;
}
footer .copyright p {
  font-size: 0.8rem;
  color: #000000;
}

@media (min-width: 1100px) {
  footer {
    max-width: 1050px;
    margin-inline: auto;
  }
  footer nav {
    gap: 3rem;
  }
  footer nav .footer__flex a {
    font-size: 1.6rem;
  }
}
.products {
  padding-inline: 10px;
}
.products h2 {
  font-size: 3.3rem;
  font-weight: 400;
  margin-bottom: 1.5rem;
  color: #000000;
  margin-left: 1rem;
}
.products .products__grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  justify-content: center;
  column-gap: 2rem;
  row-gap: 3rem;
  justify-items: center;
}
.products .products__grid .product__card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  border-radius: 1px;
}
.products .products__grid .product__card .product__img {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  width: 100%;
}
.products .products__grid .product__card .product__img img {
  width: 204px;
}
.products .products__grid .product__card .product__description {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #000000;
}
.products .products__grid .product__card .product__description span {
  font-size: 1.5rem;
  font-weight: 700;
}
.products .products__grid .product__card .product__description p {
  font-size: 1.1rem;
  margin-bottom: 1.1rem;
}
.products .products__grid .product__card .product__description a {
  margin-bottom: 1.7rem;
  font-weight: 700;
}

@media (min-width: 634px) {
  .products .products__grid {
    gap: 2rem;
  }
}
@media (min-width: 634px) {
  .products {
    padding-inline: 103px;
  }
}
.showcase {
  padding-inline: 50px;
  padding-top: 3rem;
  padding-bottom: 5rem;
}
.showcase .showcase__flex {
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
}
.showcase .showcase__flex .showcase__img {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 100%;
}
.showcase .showcase__flex .showcase__img img {
  height: 420px;
  width: 330px;
}
.showcase .showcase__flex .showcase__img .showcase__buttons {
  display: flex;
  padding-top: 2rem;
  gap: 1rem;
}
.showcase .showcase__flex .showcase__img .showcase__buttons p {
  font-size: 2.8rem;
  color: grey;
  cursor: pointer;
}
.showcase .showcase__flex .showcase__img .showcase__buttons .activeBtn {
  color: #000000;
}
.showcase .showcase__flex .showcase__description {
  text-align: center;
}
.showcase .showcase__flex .showcase__description .showcase__title {
  margin-bottom: 2rem;
}
.showcase .showcase__flex .showcase__description .showcase__title h2 {
  color: #000000;
  font-size: 2.6rem;
  margin-bottom: 1rem;
  font-weight: 400;
}
.showcase .showcase__flex .showcase__description .showcase__title p {
  font-size: 1.4rem;
  color: #000000;
}
.showcase .showcase__flex .showcase__button {
  margin-bottom: 3.5rem;
}
.showcase .showcase__details h3 {
  font-size: 2rem;
  color: #000000;
  text-align: start;
  margin-bottom: 1.5rem;
}
.showcase .showcase__details ul {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width: 100%;
  text-align: start;
  column-gap: 3rem;
  row-gap: 1rem;
}
.showcase .showcase__details ul li {
  font-size: 1.1rem;
  color: #000000;
}
.showcase .to__index {
  display: flex;
  justify-content: center;
  margin-top: 4rem;
  color: #000000;
  text-decoration: underline;
}

@media (min-width: 634px) {
  .showcase .showcase__details h3 {
    font-size: 2.1rem;
  }
  .showcase .showcase__details ul li {
    font-size: 1.2rem;
  }
}
@media (min-width: 1100px) {
  .showcase .showcase__flex {
    max-width: 800px;
    margin-inline: auto;
    flex-direction: row;
  }
  .showcase .showcase__flex .showcase__description {
    display: flex;
    flex-direction: column;
  }
  .showcase .showcase__flex .showcase__description .showcase__title {
    margin-bottom: 3.5rem;
  }
  .showcase .showcase__flex .showcase__description .showcase__title h2 {
    font-size: 2.8rem;
  }
  .showcase .showcase__flex .showcase__button {
    margin-bottom: 6rem;
  }
}
.cart {
  padding-inline: 24px;
  margin-bottom: 3rem;
  padding-top: 3rem;
}
.cart h2 {
  font-size: 1.2rem;
  font-family: "Roboto", sans-serif;
  color: #000000;
  padding-bottom: 1rem;
}
.cart .cart__flex {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border-top: 1px solid rgb(172, 172, 172);
}
.cart .cart__flex .cart__container {
  padding-bottom: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgb(172, 172, 172);
}
.cart .cart__flex .cart__container .cart__title {
  padding-bottom: 1rem;
  padding-top: 1rem;
}
.cart .cart__flex .cart__container .cart__title h3 {
  font-size: 1.7rem;
  color: #000000;
}
.cart .cart__flex .cart__container .cart__title .close__btn img {
  width: 18px;
  position: absolute;
  right: 3%;
  top: 6%;
}
.cart .cart__flex .cart__container .cart__title .close__btn img:hover {
  width: 19px;
}
.cart .cart__flex .cart__container .cart__img {
  width: 100%;
  height: 100%;
}
.cart .cart__flex .cart__container .cart__img img {
  filter: drop-shadow(0px 0px 10px rgba(253, 253, 253, 0.3));
  width: 85px;
}
.cart .cart__flex .cart__container .cart__price {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.cart .cart__flex .cart__container .cart__price p {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 1.4rem;
  color: #000000;
  font-weight: 700;
}
.cart .cart__flex .cart__container .cart__price p span {
  font-size: 1.5rem;
}
.cart .cart__flex .cart__container .cart__price input {
  height: 33px;
  width: 68px;
  text-align: center;
  font-family: "Roboto", sans-serif;
}
.cart .cart__button {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cart .cart__button a:nth-child(1) {
  background-color: #000000;
  color: #fff;
  width: 100%;
  text-decoration: none;
  margin-bottom: 0.5rem;
}
.cart .cart__button p {
  color: grey;
  font-weight: 700;
  margin-bottom: 2.5rem;
  font-size: 0.9rem;
}
.cart .cart__button p span {
  font-size: 0.9rem;
  text-decoration: underline;
  cursor: pointer;
}
.cart .cart__button a {
  color: #000000;
  text-decoration: underline;
}

@media (min-width: 634px) {
  .cart h2 {
    font-size: 1.4rem;
    padding-bottom: 1.3rem;
  }
  .cart .cart__flex {
    border-top: 1px solid rgb(172, 172, 172);
    flex-direction: row;
    width: 100%;
    gap: 3rem;
  }
  .cart .cart__flex .cart__container {
    padding-bottom: 1.5rem;
    border-top: none;
    width: 100%;
    height: 100%;
  }
  .cart .cart__flex .cart__container .cart__title h3 {
    font-size: 1.8rem;
  }
  .cart .cart__flex .cart__container .cart__title .close__btn img {
    top: 5%;
  }
  .cart .cart__flex .cart__container .cart__img img {
    width: 100px;
  }
  .cart .cart__flex .cart__container .cart__price input {
    width: 78px;
  }
  .cart .cart__total {
    gap: 1rem;
    padding-top: 1rem;
  }
}
@media (min-width: 1100px) {
  .cart {
    max-width: 1200px;
    margin-inline: auto;
  }
  .cart .cart__flex .cart__container {
    width: 100%;
  }
  .cart .cart__flex .cart__total {
    width: 60%;
  }
}
#checkout {
  padding-top: 3rem;
  padding-bottom: 5rem;
  padding-inline: 23px;
}
#checkout .checkout__title {
  font-size: 1.3rem;
  color: #000000;
  margin-left: 0.7rem;
  font-weight: 700;
}
#checkout .checkout__flex {
  margin-top: 0.6rem;
  display: flex;
  flex-direction: column;
  border-top: 1px solid rgb(172, 172, 172);
}
#checkout .checkout__flex .form__container {
  border-bottom: 1px solid rgb(172, 172, 172);
  padding-bottom: 2rem;
  width: 100%;
  margin-top: 0.9rem;
}
#checkout .checkout__flex .form__container span {
  font-size: 1.13rem;
  margin-left: 0.7rem;
  color: #000000;
  font-weight: 700;
}
#checkout .checkout__flex .form__container form {
  margin-inline: 0.5rem;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}
#checkout .checkout__flex .form__container form .form__input__desktop {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
#checkout .checkout__flex .form__container form .button__desktop {
  display: none;
}
#checkout .checkout__flex .checkout__info {
  padding-top: 1.2rem;
  display: flex;
  flex-direction: column;
}
#checkout .checkout__flex .checkout__info span {
  color: #000000;
  font-weight: 700;
  font-size: 1.1rem;
}
#checkout .checkout__flex .checkout__info span:nth-child(1) {
  margin-bottom: 0.9rem;
}
#checkout .checkout__flex .checkout__info .checkout__product {
  margin-inline: 12px;
  display: flex;
  flex-direction: column;
}
#checkout .checkout__flex .checkout__info .checkout__product span {
  font-size: 1.5rem;
  font-family: "UnifrakturMaguntia", serif;
  margin-bottom: 0.5rem;
}
#checkout .checkout__flex .checkout__info .checkout__product .product__info {
  display: flex;
  align-items: flex-start;
  padding-bottom: 0.7rem;
  flex-direction: column;
  border-bottom: 1px solid rgb(172, 172, 172);
}
#checkout .checkout__flex .checkout__info .checkout__product .product__info:nth-last-child(1) {
  border-bottom: none;
}
#checkout .checkout__flex .checkout__info .checkout__product .product__info .product-title {
  font-size: 1.5rem;
  margin-top: 1.1rem;
  color: #000000;
  font-weight: 700;
  font-family: "UnifrakturMaguntia", serif;
}
#checkout .checkout__flex .checkout__info .checkout__product .product__info .product__img__amount {
  display: flex;
  align-items: center;
  margin-top: 1rem;
}
#checkout .checkout__flex .checkout__info .checkout__product .product__info .product__img__amount img {
  width: 75px;
  height: auto;
}
#checkout .checkout__flex .checkout__info .checkout__product .product__info .product__img__amount div {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 2rem;
}
#checkout .checkout__flex .checkout__info .checkout__product .product__info .product__img__amount div p {
  color: grey;
  font-weight: 700;
}

.checkout__button__mobile {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #fff;
  padding-block: 0.7rem;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (min-width: 634px) {
  #checkout {
    max-width: 1300px;
    margin-inline: auto;
  }
  #checkout .checkout__flex {
    flex-direction: row;
    justify-content: space-between;
    gap: 1rem;
  }
  #checkout .checkout__flex .form__container {
    border-bottom: none;
    border-right: 1px solid rgb(172, 172, 172);
  }
  #checkout .checkout__flex .form__container form {
    margin-inline: 15px;
    margin-top: 1rem;
  }
  #checkout .checkout__flex .form__container form .form__input__desktop {
    flex-direction: row;
    gap: 1rem;
  }
  #checkout .checkout__flex .form__container form .button__desktop {
    margin-top: 1rem;
    display: block;
    border: 3px solid #000000;
    width: 100%;
    font-weight: 700;
  }
  #checkout .checkout__flex .checkout__info {
    width: 100%;
  }
  #checkout .checkout__flex .checkout__info .cart__value {
    padding-bottom: 0.5rem;
  }
  #checkout .checkout__flex .checkout__info .checkout__product {
    padding-top: 0.5rem;
    border-bottom: none;
  }
  #checkout .checkout__flex .checkout__info .checkout__product .product__info:nth-last-child(1) {
    border-bottom: none;
  }
  .checkout__button__mobile {
    display: none;
  }
}
#payment {
  padding-top: 3rem;
  padding-bottom: 5rem;
  padding-inline: 23px;
}
#payment .payment__title {
  font-size: 1.3rem;
  color: #000000;
  margin-left: 0.7rem;
  font-weight: 700;
}
#payment .payment__flex {
  margin-top: 0.6rem;
  display: flex;
  flex-direction: column;
  border-top: 1px solid rgb(172, 172, 172);
}
#payment .payment__flex .payment__info {
  margin-top: 0.9rem;
  padding-bottom: 2rem;
  width: 100%;
}
#payment .payment__flex .payment__info span {
  font-size: 1.13rem;
  margin-left: 0.7rem;
  color: #000000;
  font-weight: 700;
}
#payment .payment__flex .payment__info .payment__form {
  margin-top: 1rem;
}
#payment .payment__flex .payment__info .payment__form form .form__input {
  margin-block: 0.5rem;
}
#payment .payment__flex .payment__info .payment__form form .form__col-2 {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}
#payment .payment__flex .payment__info .payment__form form .button__desktop {
  display: none;
}

/*# sourceMappingURL=style.css.map */
