@mixin responsive($breakpoint) {
    @if $breakpoint == tablet {
      @media (min-width: 834px) { @content; }
    } @else if $breakpoint == desktop {
      @media (min-width: 1100px) { @content; }
    }
  }