$ff-primary: "UnifrakturMaguntia", serif;
$ff-secondary:"Almendra", serif;

$primary-color:#cacaca;
$secondary-color:#000000;
$white-color:#fff;

$fw-regular:400;
$fw-bold:700;

// styles for mobile 
$padding-top-nav-mobile:40px;
$padding-inline-nav-mobile:21px;
$padding-inline-hero-mobile:23px;
$padding-inline-main-mobile:10px;

// styles for tablet
$padding-inline-nav-tablet:56px;





// stlyes for desktop
$padding-inline-nav-desktop:81px;


