
$ff-primary: "UnifrakturMaguntia", serif;
$ff-secondary:'Roboto', sans-serif;

$primary-color:#cacaca;
$secondary-color:#000000;
$white-color:#fff;
$grey-color:grey;
$light-grey-color:rgb(172, 172, 172);
$red-color:rgb(226, 13, 13);

$bg-button-darkmode:rgb(48, 47, 47);


$fw-regular:400;
$fw-bold:700;



// styles for mobile 
$padding-top-nav-mobile:35px;

$padding-inline-nav-mobile:21px;
$padding-inline-hero-mobile:23px;
$padding-inline-main-mobile:10px;
$padding-inline-footer-mobile:1.3rem;


$padding-inline-product-page-mobile:50px;
$padding-inline-checkout-page-mobile:23px;

// styles for tablet
$padding-inline-nav-tablet:56px;





// stlyes for desktop
$padding-inline-nav-desktop:81px;
$padding-inline-main-desktop:103px;


