
$ff-primary: "UnifrakturMaguntia", serif;
$ff-secondary:'Roboto', sans-serif;

$primary-color:#cacaca;
$secondary-color:#000000;
$white-color:#fff;
$grey-color:grey;

$black-color-dark:black;
$white-color-dark:white;
$red-color:red;

$fw-regular:400;
$fw-bold:700;



// styles for mobile 
$padding-top-nav-mobile:40px;

$padding-inline-nav-mobile:21px;
$padding-inline-hero-mobile:23px;
$padding-inline-main-mobile:10px;
$padding-inline-footer-mobile:1.3rem;


$padding-inline-product-page-mobile:50px;

// styles for tablet
$padding-inline-nav-tablet:56px;





// stlyes for desktop
$padding-inline-nav-desktop:81px;
$padding-inline-main-desktop:103px;


