@use '../utils/variables' as vars;
@use '../utils/mixins' as mixin;

.cart{
    height: auto;
    width: 100%;
    padding-inline: 24px;
    margin-bottom: 3rem;
    margin-top: 3rem;
    h2{
        font-size: 1.2rem;
        font-family: vars.$ff-secondary;
        color: vars.$secondary-color;
        padding-bottom: 1rem;
    }

    .cart__flex{
        display: flex;
        flex-direction: column;
        gap: 2rem;
        border-top: 1px solid vars.$light-grey-color;

        
        .cart__container{
            padding-bottom: 1rem;
            position: relative;
            display: flex;
            flex-direction: column;
        border-bottom: 1px solid vars.$light-grey-color;

            .cart__title{
                padding-bottom: 1rem;
                padding-top: 1rem;
                h3{
                    font-size: 1.7rem;
                    color: vars.$secondary-color;

                }
                .close__btn{
                    img{
                        width: 18px;
                        position: absolute;
                        right: 3%;
                        top: 6%;

                        &:hover{
                            width: 19px;

                        }
                    }
                }
            }
            .cart__img{
                width: 100%;
                height: 100%;
                img{
                    filter: drop-shadow(0px 0px 10px rgba(253, 253, 253, 0.3));
                    
                    width: 85px;
                }
            }
            .cart__price{
                display: flex;
                align-items: center;
                justify-content: flex-end;

                p{
                    display: flex;
                    align-items: center;
                    gap: .5rem;
                    font-size: 1.4rem;
                    color: vars.$secondary-color;
                    font-weight: vars.$fw-bold;
                    span{
                        font-size: 1.5rem;
                    }
                }
                input{
                    height: 33px;
                    width: 68px;
                    text-align: center;
                    font-family: vars.$ff-secondary;
                }
            }
        }

        .cart__total{
            display: flex;
            width: 100%;
            flex-direction: column;
            justify-content: flex-start;
            margin-bottom: 2.2rem;

            .cart__value{
                display: flex;
                justify-content: space-between;
                margin-bottom: 2rem;
                gap: .3rem;
                flex-direction: column;

               .cart__value__box{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                 
                    p{
                        color: vars.$grey-color;
                        font-weight: 700;
                        font-size: 1rem;
                    }

                    span{
                        font-size: 1rem;
                        color: vars.$grey-color;
                        font-weight: vars.$fw-bold;
                    }

                    &:nth-last-child(1){
                        margin-top: .2rem;
                        p{
                            color: vars.$secondary-color;
                            font-size: 1.5rem;
                        }
                        span{
                            font-size: 1.1rem;
                            color: vars.$secondary-color;
                        }
                    }
                }
                
            }
        }
    }
    .cart__button{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        a:nth-child(1){
            background-color: vars.$secondary-color;
            color: vars.$white-color;
            width: 100%;
            text-decoration: none;
            margin-bottom: .5rem;
        }
        p{
            color: vars.$grey-color;
            font-weight: 700;
            margin-bottom: 2.5rem;
            font-size: .9rem;

            span{
                font-size: .9rem;
                text-decoration: underline;
                cursor: pointer;
            }
        }
        a{
            color: vars.$secondary-color;
            text-decoration: underline;
        }
    }
}


@include mixin.responsive(tablet){
.cart{
    h2{
        font-size: 1.4rem;
        padding-bottom: 1.3rem;
    }
    .cart__flex{
        border-top: 1px solid vars.$light-grey-color;
        flex-direction: row;
        width: 100%;
        gap: 3rem;

        .cart__container{
            padding-bottom: 1.5rem;
            border-top: none;
            width: 100%;
            height: 100%;

            
            .cart__title{
                h3{
                    font-size: 1.8rem;
                }
                .close__btn{
                    img{
                        top: 5%;
                    }
                }
            }
            .cart__img{
                img{
                    width: 100px;
                }
            }
            .cart__price{
                input{
                    width: 78px;
                }
            }
        }
    }
    .cart__total{
        gap: 1rem;
        padding-top: 1rem;
    }
}
}


@include mixin.responsive(desktop){
    .cart{
        max-width: 1200px;
        margin-inline: auto;
        .cart__flex{
            .cart__container{
                width: 100%;
            }
            .cart__total{
                width: 60%;
            }
        }
    }
}