@use '../utils/variables' as vars;
@use '../utils/mixins' as mixin;


#checkout{
    padding-top: 3rem;
    padding-bottom: 5rem;
    padding-inline: vars.$padding-inline-checkout-page-mobile;

    .checkout__title{
            font-size: 1.3rem;
            color: vars.$secondary-color;
            margin-left: .7rem;
            font-weight: vars.$fw-bold;
    }

    .checkout__flex{
        margin-top: .6rem;
        display: flex;
        flex-direction: column;
        border-top: 1px solid vars.$light-grey-color;
       

            // FORM  START//
            .form__container{
                border-bottom: 1px solid vars.$light-grey-color;
                padding-bottom: 2rem;
                width: 100%;
                margin-top: .9rem;
                span{
                    font-size: 1.130rem;
                    margin-left: .7rem;
                    color: vars.$secondary-color;
                    font-weight: vars.$fw-bold;
                }
        
                form{
            margin-inline: .5rem;
             margin-top: 1rem;
            display: flex;
            flex-direction: column;
            gap: 1rem;

            .form__input__desktop{
                display: flex;
                flex-direction: column;
                gap: .7rem;
            }

            .button__desktop{
                display: none;
            }

            // FORM  END//
        }
    }


        .checkout__info{
            padding-top: 1.2rem;
            display: flex;
            flex-direction: column;

            span{
                color: vars.$secondary-color;
                font-weight: vars.$fw-bold;
                font-size: 1.1rem;

                 &:nth-child(1){
                    margin-bottom: .9rem;
                 }
            }

        
           
            .checkout__product{
                margin-inline: 12px;
                display: flex;
                flex-direction: column;
                
                    span{
                        font-size: 1.5rem;
                        font-family: vars.$ff-primary;
                        margin-bottom: .5rem;
                    }
                    .product__info{
                        display: flex;
                        align-items: flex-start;
                        padding-bottom: .7rem;
                        flex-direction: column;
                        border-bottom: 1px solid vars.$light-grey-color;

                        &:nth-last-child(1){
                            border-bottom: none;
                        }

                        .product-title{
                            font-size: 1.5rem;
                            margin-top: 1.1rem;
                            color: vars.$secondary-color;
                            font-weight: vars.$fw-bold;
                            font-family: vars.$ff-primary;
                        }

                        .product__img__amount{
                            display: flex;
                            align-items: center;
                            margin-top: 1rem;

                            img{
                                width: 75px;
                                height: auto;
                            }


                        div{
                            display: flex;
                            flex-direction: column;
                            align-items: center;
                            margin-left: 2rem;
                            p{
                                color: vars.$grey-color;
                                font-weight: vars.$fw-bold;
                            }
                        }
                    }

                    }
            }

        }
    }
}

.checkout__button__mobile{
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: vars.$white-color;
    padding-block: .7rem;
    display: flex;
    align-items: center;
    justify-content: center;
}




@include mixin.responsive(tablet){
    #checkout{
        max-width: 1300px;
        margin-inline: auto;
        .checkout__flex{
            flex-direction: row;
            justify-content: space-between;
            gap: 1rem;
            .form__container{
                border-bottom: none;
                border-right: 1px solid vars.$light-grey-color;
                form{
                    margin-inline: 15px;
                    margin-top: 1rem;

                    .form__input__desktop{
                        flex-direction: row;
                        gap: 1rem;
                      
                    }
                    
                   .button__desktop{
                    margin-top: 1rem;
                    display: block;
                    border: 3px solid vars.$secondary-color;
                    width: 100%;
                    font-weight: vars.$fw-bold;
                   }
                }

            }
            .checkout__info{
                width: 100%;

                .cart__value{
                    padding-bottom: .5rem;
                }
                
                .checkout__product{
                    padding-top: .5rem;
                    border-bottom: none;
                    
                    .product__info{
                        &:nth-last-child(1){
                            border-bottom: none;
                        }
                    }
                }
            }
        }
    }

    .checkout__button__mobile{
        display: none;
    }
}
