@use '../utils/variables' as vars;
@use '../utils/mixins' as mixin;

#payment{
    padding-top: 3rem;
    padding-bottom: 5rem;
    padding-inline: vars.$padding-inline-checkout-page-mobile;

    .payment__title{
        font-size: 1.3rem;
        color: vars.$secondary-color;
        font-weight: vars.$fw-bold;
        margin-left: .7rem;
        }
        

        .payment__flex{
            margin-top: .6rem;
            display: flex;
            flex-direction: column;
            border-top: 1px solid vars.$light-grey-color;
            
            .payment__info{
                margin-inline: 10px;
                margin-top: .9rem;
                padding-bottom: 2rem;

                .payment__top{
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding-bottom: 1.1rem;
                    a{
                        font-size: 1.1rem;
                        color: vars.$grey-color;
                        font-weight: vars.$fw-bold;
                        text-decoration: underline;
                    }
                    span{
                        font-size: 1.1rem;
                        color: vars.$secondary-color;
                        font-weight: vars.$fw-bold;
                    }
                }

                .checkout__show{
                    display: flex;
                    align-items: center;
                    padding-top: .8rem;
                    margin-bottom: 2.5rem;
                    .checkout__details{
                        display: flex;
                        flex-direction: column;
                        gap: .4rem;
                        color: vars.$secondary-color;
                    }
                }


                .payment__form{
                    display: flex;
                    flex-direction: column;
                    width: 100%;

                    form{
                        margin-inline: 15px;
                        .form__input{
                            margin-block: .9rem;
                        }
                       
                        .form__col-2 {
                            display: flex;
                            gap: 1rem;
                        }
                        
                        .form__col-2 .form__input:first-child {
                            flex: 1.5; 
                            min-width: 0; 

                        }
                        .form__col-2 .form__input:last-child {
                            flex: 1; 
                            min-width: 0; 

                        }

                        .button__desktop{
                            display: none;
                        }
                    }
                }
            }

            .checkout__info{
                margin-inline: 12px;
                padding-top: 1.2rem;
                .cart__value{
                    margin-top: .7rem;
                }
            }
        }
}


@include mixin.responsive(tablet){
    #payment{
        max-width: 1300px;
        margin-inline: auto;

        .payment__top{
            margin-left: .7rem;
            }
        .payment__flex{
            flex-direction: row;
            justify-content: space-between;
            gap: 1rem;

            .checkout__show{
                margin-left: 1rem;
            }
            .payment__info{
                border-right: 1px solid vars.$light-grey-color;
                margin-top: 0rem;
                margin-inline: 0px;
                width: 100%;
                .payment__top{
                    margin-top: .9rem;
                    margin-right: .9rem;
                }
                .payment__form{
                    form{
                    margin-top: 1rem;
                        .form__col-2{
                            flex-wrap: nowrap;
                            gap: 2rem;
                           
                        }
                        .button__desktop{
                            display: block;
                            margin-top: 2rem;
                        }
                    }
                }
            }

            .checkout__info{
                width: 80%;
                margin-inline: 0;
                .cart__value{
                    padding-bottom: .5rem;
                }
            }
        }
    }
}