@use '../utils/variables' as vars;
@use '../utils/mixins' as mixin;


.hero{
    display: flex;
    flex-direction: column;
    padding-inline: vars.$padding-inline-hero-mobile;
    padding-top: 3rem;
    padding-bottom:1.5rem;

    .hero__img{
        width: 100%;
        height: 100%;
        margin-bottom: 2rem;
        text-align: center;
        img{
            width: 253px;
            height: auto;
        }
    }
        .hero__description{
                    margin-bottom: 3rem;
            p{
                color: vars.$secondary-color;
                line-height: 1.3;
                span{
                    font-size: 1.3rem;
                }
            }
        }
}


@include mixin.responsive(tablet){
    .hero{
        flex-direction: row;
        padding-top: 5rem;
        .hero__img{
            img{
                width: 300px;
            }
        }
        .hero__description{
            display: flex;
            align-items: center;
        }
    }
}

@include mixin.responsive(desktop){
    .hero{
        max-width: 1000px;
        margin: 0 auto;
        .hero__description{
            p{
                font-size: 1.060rem;

                span{
                    font-size: 1.5rem;
                }
            }
        }
    }
    
    }
