@use '../utils/variables' as vars;
@use '../utils/mixins' as mix;

// Estilos base para el nav
nav {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: vars.$padding-top-nav-mobile;
    padding-inline: vars.$padding-inline-nav-mobile;

    .logo {
        font-size: 2.6rem;
        color: vars.$secondary-color;
    }

    .nav__menu {
        display: flex;
        align-items: center;
        gap: 1.7rem;

        // Estilos para el botón de cambio de tema
        #theme-switch {
            height: 50px;
            width: 50px;
            padding: 0;
            border-radius: 50%;
            background-color: vars.$bg-button-darkmode;
            outline: none;
            cursor: pointer;
            display: flex;
            align-items: center;
            border: none;
            justify-content: center;

            img {
                &:nth-last-child(1) {
                    display: none; // Oculta el sol inicialmente
                }
            }
        }
    }

    .desktop {
        display: none;
    }

    .icon__nav {
        display: flex;
        cursor: pointer;
        position: relative;

        .cart__shopping__amount {
            position: absolute;
            right: -30%;
            top: -30%;
            background-color: vars.$white-color;
            color: vars.$secondary-color;
            opacity: 0.9;
            border-radius: 50%;
            padding: 2px 5px;
        }
    }
}

body.darkmode {
    #theme-switch {
        img:first-child {
            display: none; 
        }

        img:nth-last-child(1) {
            display: block; 
        }
    }

    .hero__img {
        .light-mode-img {
            opacity: 0; 
        }

        .dark-mode-img {
            opacity: 1;
        }
    }
}

body:not(.darkmode) {
    #theme-switch {
        img:first-child {
            display: block;
        }

        img:nth-last-child(1) {
            display: none; 
        }
    }

    .hero__img {
        .light-mode-img {
            opacity: 1; 
        }

        .dark-mode-img {
            opacity: 0; 
        }
    }
}

.hero__img {
    position: relative;
    width: 100%;
    height: auto;

    img {
        width: 100%;
        height: auto;
        transition: opacity 0.3s ease;
    }

    .dark-mode-img {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0; // Inicialmente oculta
    }
}



@include mix.responsive(tablet){
        nav{
            padding-inline: vars.$padding-inline-nav-tablet;
            .logo{
                font-size: 3rem;
            }
        }
}




@include mix.responsive(desktop) {
    nav{
        padding-inline: vars.$padding-inline-nav-desktop;

        .logo{
            font-size: 3.5rem;
        }

        .nav__menu{
            gap: 2.5rem;
        }

        .search-bar {
            position: relative;
            display: flex;
            align-items: center;
            width: 100%;
            border-radius: 20px;
            background: vars.$white-color;
          
            input {
              flex: 1;
              border: none;
              outline: none;
              padding: 10px 55px 10px 20px; // Deja espacio a la derecha para la lupa
              font-size: 16px;
              background: transparent;
            }
          
            .search-icon {
              position: absolute;
              top: 9px;
              right: 18px; 
              width: 20px;
              height: 20px;
            }
          }



       
            }
      }