@use '../utils/variables' as vars;
@use '../utils/mixins' as mix;


nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: vars.$padding-top-nav-mobile;
    padding-inline: vars.$padding-inline-nav-mobile;

    .logo{
        font-size: 2.6rem;
        color: vars.$secondary-color;
    }

    .nav__menu{
        display: flex;
        align-items: center;
        gap: 1.7rem;
    }

    .desktop{
        display: none;
    }
}




@include mix.responsive(tablet){
        nav{
            padding-inline: vars.$padding-inline-nav-tablet;
            .logo{
                font-size: 3rem;
            }
        }
}




@include mix.responsive(desktop) {
    nav{
        padding-inline: vars.$padding-inline-nav-desktop;

        .logo{
            font-size: 3.5rem;
        }

        .nav__menu{
            flex-direction: row-reverse;
            gap: 2.5rem;
        }

        .search-bar {
            position: relative;
            display: flex;
            align-items: center;
            width: 100%;
            border-radius: 20px;
            background: vars.$white-color;
          
            input {
              flex: 1;
              border: none;
              outline: none;
              padding: 10px 55px 10px 20px; // Deja espacio a la derecha para la lupa
              font-size: 16px;
              background: transparent;
            }
          
            .search-icon {
              position: absolute;
              top: 9px;
              right: 18px; 
              width: 20px;
              height: 20px;
            }
          }







        .desktop{
            display: block;
        }
        .mobile{
            display: none;
        }
            }
      }