@use '../utils/variables' as vars;

.button{
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: transparent;
    border: 4px dotted vars.$secondary-color;
    border-radius: 3px;
    color: vars.$secondary-color;
    cursor: pointer;
    font-size: 1.2rem;
    transition: background-color .2s ease,opacity 0.3s ease;

    &:hover{
        background-color: vars.$secondary-color;
        color: vars.$white-color;
    }
}


.primary__button{
    width: 257px;
    height: 50px;
}

