*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    list-style: none;
    font-size: 1rem;

}

a{
    text-decoration: none;
}

body{
    background-image: url(/public/images/background_image/bg_chrome.webp);
    height: auto;
}

section{
    width: 100%;
    height: auto;
}

img{
    width: auto;
    height: auto;
}

.icon__nav img{
    width: 30px;
    height: 30px;
}