@use '../utils/variables' as vars;

h1,h2,h3{
    font-family: vars.$ff-primary;
}

p,a,span,input,label,select{
    font-family: vars.$ff-secondary;
}

.primary-font{
    font-family: vars.$ff-primary;
    text-decoration: none;
}